<section id="backbutton" class="section">

    <a href="/catalog">
        <button class="button is-primary">
            <span class="icon is-small">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>back to catalog</span>
        </button>
    </a>

</section>