<footer class="card-footer admin">
    <!-- <a href="#" class="card-footer-item" onclick="window.print()">PRINT</a> -->
    <form action="/single-element{{id}}" method="get" class="card-footer-item">
        <a><button class="">
            DETAILS</a>
        </button>
    </form>
</footer>