<footer class="card-footer admin">
    <!-- <a href="#" class="card-footer-item" onclick="window.print()">PRINT</a> -->
    <form class="card-footer-item">
        <button class="button" >
            <a href="#" onclick="window.print()" >PRINT PAGE <br>FOR AR-VIEW</a>
        </button>
    </form>
    <form action="/ar-view{{id}}" method="get" class="card-footer-item">
        <button class="button">
            <a>AR VIEW</a>
        </button>
    </form>
    <form action="/edit-element{{id}}" method="get" class="card-footer-item">
        <button class="">
            <a>EDIT</a>
        </button>
    </form>
    <form action="/delete-element{{id}}" method="post" class="card-footer-item">
        <button class="">
            <a>DELETE</a>
        </button>
    </form>

</footer>