<footer class="card-footer admin">
    <!-- <a href="#" class="card-footer-item" onclick="window.print()">PRINT</a> -->
    <form action="/edit-element{{id}}" method="get" class="card-footer-item">
        <button class="">
            <a>EDIT</a>
        </button>
    </form>
    <form action="/delete-element{{id}}" method="post" class="card-footer-item">
        <button class="">
            <a>DELETE</a>
        </button>
    </form>

</footer>