<h1 class="title hero-print">
            AR-CAT
        </h1>
<section id="header" class="hero">
    <div class="hero-body">
        <a href="https://github.com/evij-g/ar-catalog/">
        <h1 class="title">
            AR-CAT
        </h1>
        </a>
        <p class="subtitle">
            is an easy to use catalog for true scaled images or
            2D-sculptures in augmented reality.
        </p>
    </div>
</section>