<h1 class="title hero-print">
            AR-CAT
        </h1>
<section class="hero">
    <div class="hero-body">
        <h1 class="title">
            AR-CAT
        </h1>
        <p class="subtitle">
            This project is about an easy to use tool for mostly true scaled images or
            sculptures in augmented reality. You can find
            <a href="https://github.com/evij-g/ar-catalog/">AR-CAT</a>
            on Github.
        </p>
    </div>
</section>