<section class="section content">
    <h2 class="title">
        ABOUT
    </h2>
    <p>
        AR-CAT is a small content management system for 2D content for cross-browser augmented reality. It was realized with a grant from the Leipzig Cultural Office. Thanks a lot for this!
The project should be a sustainable and low-threshold platform that everyone can set up independently and use completely free of charge. And best of all, the source code is available on Github, so that your own version can be adapted as you wish.
    </p>
</section>