<section class='section content'>
  <h2 class='title'>
    ABOUT
  </h2>
  <div class='content container is-max-desktop'>
    <p><strong>AR-CAT</strong>
      is a small content management system for 2D content for cross-plattform
      augmented reality. It aims to show true scaled images or 2D-sculptures.
    </p>
    <p>The project should be a sustainable and low-threshold platform that
      everyone can set up independently and use completely free of charge. And
      best of all, the source code is available on
      <a href='https://github.com/evij-g/ar-catalog'>Github</a>, so that your
      own version can be adapted as you wish.</p>
    <p><strong>AR-CAT</strong>
      was realized with a grant from the
      <a
        href='https://www.leipzig.de/buergerservice-und-verwaltung/aemter-und-behoerdengaenge/behoerden-und-dienstleistungen/dienststelle/kulturamt-41'
      >Leipzig Cultural Office</a>. Thanks a lot for this!</p>
    <p>I want also thank especially
      <a href='https://github.com/ignazka'>Philipp Kastl</a>
      for his work on the backend and all the other people who were involved to
      develeop this app.</p>
  </div>
</section>