<style>
    .hero{
        
        min-height: auto;
    }
    .hero-body{
        padding-top:0.5rem;
        padding-bottom:0.5rem;
    }
    .hero-body > h1.title{
        margin-bottom: 0;
    }
    .subtitle{
        display:none;
    }
    body{
        style="margin: 0; overflow: hidden;
    }
</style>    
        <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
        <script src="https://raw.githack.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
        
        
        

<div class="controls" style="z-index: 999; position:absolute; right: 10px; top:15px">
            <button id="button">Get camera</button>
            <select id="select">
              <option></option>
            </select>
        </div>
      
         <a-scene embedded arjs light="defaultLightsEnabled: false" renderer="logarithmicDepthBuffer: false; antialias: true; physicallyCorrectLights: true;precision:high;" shadow="autoUpdate: true; type:pcf;">


              <a-marker type='pattern' url="{{marker.markerLink}}" smoothTolerance="0.05" smoothThreshold="3.64" smooth="true">
                <a-image
                    src="{{element.imageUrl}}"
                    scale="1.475 2.005 1"
                    class="clickable"
                    rotation="-90 0 0"
                    
                ></a-image>
            </a-marker>
        <a-entity camera near="0.001"></a-entity>
    </a-scene>


        <script src="scripts/arjs-camera-select.js"></script>
        <script>
            console.log(document.getElementById('link'));
            console.log({{marker.patternFileLink}});
        </script>