<section class='section content'>
  <h2 class='title'>
    CONTACT
  </h2>
  <div class='content container is-max-desktop'>
    <p><strong>Do you have any questions or feedback about the app?</strong><br>
      feel free to write me on github or <a href="mailto:info@evij.de">email</a> <br><img style="width:auto;"src="https://raw.githubusercontent.com/evij-g/ar-catalog/main/tests/images/evij-cutout-small.png?token=GHSAT0AAAAAABPNQAKSTOSVO7HAL47XB4O4YO7GSZA"></p>
  </div>
</section>