<section class="section content">
    <h2 class="title">
        edit element
   </h2>

    <form action="/edit-image{{element._id}}" method="POST" class="upload" enctype="multipart/form-data">
            {{>elementFormHeadImage}}
            <div class="control">
                <button class="button is-primary" type="submit">update</button>
            </div>
                        
</form>
<form action="/edit-element{{element._id}}" method="POST" enctype="multipart/form-data">
                       {{>elementFormBody}}            
                            <div class="control">
                                <button class="button is-primary" type="submit">update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>

<script>
    const fileInput = document.querySelector('.file input[type=file]');
    //const chooseFile = document.getElementById("choose-file");
    //const imgPreview = document.getElementById("img-preview");
    //console.log(fileInput);
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            //getImgData();
            const fileName = document.querySelector('.file .file-name');
            fileName.textContent = fileInput
                .files[0]
                .name;
        }
    }
    </script>

    <script src="/scripts/rescale.js"></script> 