<section class='section content'>
  <h2 class='title'>
    HOW TO USE AR-CAT
  </h2>
  <div class='content container is-max-desktop'>
    <ol>
      <li>click on the image or on button "details"</li>
      <li>click on "print page for AR-VIEW" button<br><img style="width:auto;"src="https://res.cloudinary.com/arcatevij/image/upload/v1642014038/print-view_rhzdav.png"></li>
      <li>print out the generated page on A4, black and white, scale of 100%, default/standard page border</li>
      <li>scan qr-code on printed page and follow detected link or click on "AR VIEW" button </li>
      <li>allow use of camera and point camera to the "Marker-Image"<br> <img style="max-width:100px;" src="https://raw.githubusercontent.com/evij-g/artoolkit-barcode-markers-collection/master/4x4_bch_13_9_3/0.png"></li>
      <li>VOILA! The selected image should now be displayed above the marker <br><img style="width:auto;"src="https://res.cloudinary.com/arcatevij/image/upload/v1642013782/photo_2022-01-10_20-11-38_r1swaf.jpg"></li>
      
    </ol>
    <p>

    </p>
   
  </div>
</section>