<section class="section content">
    <h2 class="title">
        HOW TO USE AR-CAT
    </h2>
    <p>
       What exactly can AR-CAT do?
Image material can be uploaded to a filehoster / database and is linked to a "barcode" recognizable for the Augmented Reality Framework (ar.js).
</p>
<p>
The uploaded content is displayed in the catalog view.

If you want to experience this content in augmented reality, then you simply click on (Details) one of the entries.     </p>
</section>