<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Primary Meta Tags -->
<title>AR-CAT</title>
<meta name="title" content="AR-CAT">
<meta name="description" content="This project is about an easy to use experiment for true scaled images or 2D-sculptures in augmented reality.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://arcat.evij.de">
<meta property="og:title" content="AR-CAT">
<meta property="og:description" content="This project is about an easy to use experiment for true scaled images or 2D-sculptures in augmented reality.">
<meta property="og:image" content="https://github.com/evij-g/ar-catalog/blob/main/tests/images/print-view.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://arcat.evij.de">
<meta property="twitter:title" content="AR-CAT">
<meta property="twitter:description" content="This project is about an easy to use experiment for true scaled images or 2D-sculptures in augmented reality.">
<meta property="twitter:image" content="https://github.com/evij-g/ar-catalog/blob/main/tests/images/print-view.png">


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="scripts/navbar-burger.js"></script>
        
        
        

        <title>AR-CAT</title>
    </head>
    <body class="has-navbar-fixed-bottom">

        {{>navbar}}
        {{>hero}}

        {{{body}}}

        <script src="scripts/fade-header.js"></script>
    </body>
</html>
