   <section class="section content">
        <h2 class="title">
            CREATE NEW USER
        </h2>
    <form action="/signup" method='POST' class="field">

        <div class="field">
            <label class="label">EMAIL</label>
            <div class="control">
                <input
                    class="input is-success"
                    type="email"
                    name="email"
                    placeholder="your email"
                    value="">
            </div>

        </div>

        <div class="field">
            <label class="label">PASSWORD</label>
            <div class="control">
                <input
                    class="input is-danger"
                    type="password"
                    name="password"
                    placeholder="your password"
                    value="">

            </div>
            </div>
            <div class="field">
  <button type="submit" class="button">create user</button>
</div>

            
        </form>
        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}

    </section>