<form action="/signup" method='POST'>
<label for="email">email</label>
<input type="email" name="email">
<label for="password">password</label>
<input type="password" name="password">
<button type="submit">create user</button>
</form>

 {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
