{{#if isAdmin}}
    <section class="section content">

        <h2 class="title">
            ALL USERS
        </h2>

        <section class="section">
            <a class="button is-primary" href="/signup">
                <strong>ADD NEW USER</strong>
            </a>
        </section>

        {{#each allUsers}}
            <section class="section">
                <div class="card">
                    <div class="card-content">

                        <p class="title is-size-4">email:</p>
                        <p>
                            {{email}}</p>
                    </div>
                    <div class="card-content">
                        <form action="/delete-user{{_id}}" method="post" class="form">
                            <button class="button is-danger">delete</button>
                        </form>
                    </div>
                </div>
            </section>
        {{/each}}

    </section>

{{/if}}